/* login page main styles */
:root {
    --main-bg-color:rgb(34, 35, 37);
  }

.form-control, .form-control:focus{
    background-color: var(--form-ctrl-bg);
    border: 1px solid var(--form-ctrl-border);
    color: rgb(245, 219, 170);
    box-shadow: none;
    border-radius: 0px;
}

.form-control:focus{
    background-color: var(--form-ctrl-on-focus-bg);
    border: 1px solid var(--form-ctrl-on-focus-border);
}

form{
    text-align: center;
}

.register-area{
    font-size: 14px;
}

.register-btn{
    border: 1px solid rgb(56, 60, 65);
    background-color: transparent;
    color: gray;
    font-size: var(--small-text);;
    cursor: pointer;
    border-radius: 0px;
}

.register-btn:hover{
    color: rgb(245, 219, 170);
    background-color: rgb(56, 60, 65);
}

.already-account, .forgot{
    color: var(--span-col);
    font-size: 14px;
}

.already-account:hover, .already-account:focus, .forgot:hover, .forgot:focus{
    /* color: rgb(121, 175, 196); */
    text-decoration: none;
    color: white;
}

.custom-checkbox{
    color: rgb(196, 196, 196);
    font-size: 14px;
    cursor: pointer;
}

.custom-control, .custom-control:focus{
    box-shadow: none;
}

.custom-control-indicator{
    background-color: gray;
}

.custom-control-indicator:focus, .custom-control-indicator:hover{
    box-shadow: none;
    border: none;
}

.register-err{
    color: var(--error);
    font-size: var(--small-text);
}

.disabled{
    border: 1px solid var(--error);
}

.profile-img{
    border-radius: 100%;
    border: 1px solid var(--form-ctrl-border);
    width: 80px;
    height: 80px;
}

.set-profile-msg{
    color: var(--span-col);
    font-size: var(--small-text);
}

.knbn-remember{
    width: 17px !important;
    height: 17px !important;
    background-color: rgb(88, 88, 88) !important;
}

.knbn-rmb-container{
    cursor: pointer;
}

.knbn-remember-active{
    background-color: rgb(54, 172, 19) !important;
}

.knbn-remember > img{
    filter: invert(100%);
}

.knbn-rmb{
    font-size: 13px !important;
    color: gray !important;
}