.label{
    font-size: 14px;
    color: white;
}

/* .dropdown-menu{
    background: rgb(46, 48, 51);
} */

.ticket-dropdown-item{
    color:rgb(185, 185, 185);
    font-size: 14px;
}

.ticket-dropdown-item:hover{
    background-color: #444444;
    color: rgb(252, 252, 252);
} 

.ticket-section{
    background-color: var(--section-bg-color);
}

.ticket-text-area{
    min-width: 20ch;
}

.ticket-text-area::-moz-placeholder, .date-area::-moz-placeholder{
    font-size: 14px;
    font-style: italic;
    color: rgb(99, 98, 98);
}

.ticket-text-area:focus, .date-area:focus{
    box-shadow: none;
    border: none;
    background-color: rgb(68, 70, 75);
    color: white;
}

.ticket-text-area, .date-area{
    font-size: 14px;
    background-color: var(--ticket-bg);
    border: none;
    /* border: 1px solid rgb(79, 85, 99); */
    color: rgb(179, 179, 179);
    border-radius: 0 !important;
}

.ticket-dropdown-btn{
    font-size: 14px;
    background-color: var(--ticket-bg);
    border: none;
    border-radius: 0 !important;
    box-shadow: none;
    cursor: pointer;
}

.ticket-dropdown-btn:hover, .ticket-dropdown-btn:focus, .ticket-dropdown-btn:active, .ticket-dropdown-menu{
    box-shadow: none !important;
    /* background-color: var(--ticket-bg); */
    /* border: none !important; */
    border-radius: 0 !important;
}

.dropdown-arrow{
    transition: background-color .1s ease-in;
}

.ticket-dropdown-btn:hover .row .d-flex .dropdown-arrow{
    background-color: rgb(82, 82, 82);
    border-radius: 3px;
}

.mini-profile-pic{
    width: 23px;
    height: 23px;
    border-radius: 100%;
}

.ticket-input-grp{
    border: none !important;
    border-radius: 0;
}

.ticket-date{
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 14px;
    text-align: center;
}

.date-label{
    font-size: 13px;
    color: gray;
}

.date-display{
    font-size: 13px;
    color:white;
    text-align: center
}

.date-btn{
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.date-btn:hover, .date-btn:focus, .date-btn:active{
    background-color: rgb(100, 98, 98);
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.day-btn, .day-btn:focus, .day-btn:active, .day-btn:hover{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 25px;
    width: 25px;
    background-color: rgb(83, 83, 83);
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.day-btn:hover{
    background-color: var(--highlight);
}

.disabled{
    background-color: transparent;
    cursor: auto;
}

.disabled:hover{
    background-color: transparent;
}

.current-day{
    background-color: rgb(87, 146, 63);
}

.calendar, .calendar:hover, .calendar:focus, .calendar:active{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(82, 82, 82) !important;
}





.select-item{
    text-align: center;
}

.select-item > .dropdown > .btn{
    width: 100%;
}








.info{
    font-size: 13px;
    color: rgb(177, 177, 177);
    /* text-align: right; */
}

.users{
    max-height: 200px;
    overflow: auto;
}

.loading{
    text-align: center;
    font-size: 14px;
    color: gray;
}

.search{
    height: 30px;
    font-size: 14px;
    background: rgb(55, 57, 61);
    color: rgb(212, 212, 212);
    border: 1px solid transparent;
}

.search:focus{
    height: 30px;
    font-size: 14px;
    background: rgb(68, 70, 75);
    color: rgb(212, 212, 212);
    border: 1px solid rgb(49, 71, 83);
}

.search-box{
    border: 1px solid rgb(112, 112, 112);
    border-radius: 4px;
}

.search-box:hover, .search-box:focus, .search-box:active {
    background-color: rgb(250, 250, 250, .1);
    border: 1px solid rgb(97, 97, 97);
}

.search-box::placeholder{
    color: rgb(161, 161, 161);
}

.description{
    background: rgb(79, 87, 104);
    border: 1px solid transparent;
}

.description:focus{
    background: rgb(79, 87, 104);
    /* border: none; */
}

.caret{
    width: 22px;
    height: 22px;
    padding: 0px;
    background-color: transparent;
}

.assign-to{
    float: right;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    color: gray;
}

.assign-to:hover{
    background-color: rgb(81, 97, 119);
    color: white;
    text-decoration: none;
}

.input-group{
    border-radius: 4px;
    border: 1px solid rgb(79, 85, 99);
}

.input-group:hover{
    border: 1px solid rgb(71, 113, 161);
}

.input-group > .ticket-text-area{
    border: none;
}

.increment, .increment:focus{
    padding: 0px;
    /* border: 1px solid rgb(226, 226, 226); */
    width: 22px;
    height: 22px;
    /* border: 1px solid rgb(83, 85, 88); */
    background-color: rgb(79, 85, 99);
    cursor: pointer;
    box-shadow: none;
}

.increment:hover > img, .increment:active > img{
    opacity: 1;
}

.increment > img, .increment > img{
    opacity: .55;
}

.increment:hover, .increment:active{
    box-shadow: none;
    background-color: rgb(48, 108, 165);
}

.cursor{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.error, .warning{
    font-size: 12px;
    color: rgb(228, 61, 49);
}

.text-center{
    text-align: center;
}

.warning{
    color: rgb(228, 180, 49);
}

.no-match{
    font-size: 13px;
    font-style: italic;
    text-align: center;
    color: gray;
}

.dating, .estimation{
    text-align: center;
}

.add-btn, .submit{
    font-size: 14px;
    color: rgb(190, 190, 190);
    background-color: rgb(74, 82, 99);
    cursor: pointer;
}

.add-btn:hover, .submit:hover{
    background-color: rgb(40, 86, 129);
    color: white;
    border-color: transparent;
}

.optional{
    text-align: center;
    font-size: 14px;
}

.small{
    font-size: 13px;
    color: gray;
}

.ticket-id{
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(48, 108, 165);
    border-radius: 4px;
}

.obligatory{
    height: 100%;
    width: 10px;
    margin-left: -15px;
    background-color: rgba(250, 96, 58, 0.781);
}

.warning{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid rgb(255, 83, 77);
    background-color: rgba(255, 70, 46, 0.096);
    cursor: pointer;
}

.index, .remove{
    background-color: rgb(74, 82, 99);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

.step-val{
    color: white;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
}

.ticket-dropdown-btn::after{
    content: none;
}

.dropdown-text{
    line-height: 2;
}

.show > .btn-secondary.dropdown-toggle, .show > .btn-secondary.dropdown-toggle:hover, .show > .btn-secondary.dropdown-toggle:focus, .show > .btn-secondary.dropdown-toggle:active{
    box-shadow: none;
    background-color: #444444;
}

.error-label{
    font-size: 14px;
    color: rgb(230, 89, 89);
    background-color: transparent;
}

.knbn-section-collapse{
    background-color: rgb(58, 58, 58);
    cursor: pointer;
    vertical-align: top;
}

.ql-toolbar.ql-snow{
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}