body{
    background-color: rgb(170, 170, 170);
}

label, small{
    font-style: italic;
    color: gray;
    font-size: 14px;
}

.dash{
    background-color: white;
    box-shadow: 2px 3px 3px rgb(110, 110, 110);
    border-radius: 4px;
}

.dash > .info{
    font-size: 14px;
    color: gray;
}

.info{
    font-size: 13px;
    color: gray;
    /* text-align: right; */
}

.cursor{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.increment, .increment:focus{
    padding: 0px;
    /* border: 1px solid rgb(226, 226, 226); */
    width: 22px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: none;
}

.increment:hover > img, .increment:active > img{
    filter: invert(1);
}

.increment:hover, .increment:active{
    box-shadow: none;
    background-color: rgb(48, 108, 165);
}

.input-group{
    border-radius: 4px;
    border: 1px solid rgb(196, 196, 196);
}

.input-group:hover{
    border: 1px solid rgb(71, 113, 161);
}

.input-group > .form-control{
    border: none;
}

.form-control{
    font-size: 14px;
}

.form-control::-moz-placeholder{
    font-size: 12px;
    font-style: italic;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid rgb(48, 108, 165);
}

.add-button{
    border: 1px solid gray;
    font-size: 14px;
    cursor: pointer;
}

.add-button:hover{
    background-color: rgb(40, 86, 129);
    color: white;
    border-color: transparent;
}

.release, .close-btn{
    background-color: rgb(40, 86, 129);
    border-radius: 17px;
    color: white;
    font-size: 14px;
    /* word-break: break-all !important; */
    /* word-wrap: break-all; */
    /* border-right: 1px solid rgb(179, 190, 201); */
}

.close-btn:hover{
    background-color: rgb(46, 97, 145);
    cursor: pointer;
}