:root{
    --knbn-on-drop-bg-color: rgba(132, 161, 124, 0.137);
    --knbn-on-drop-border-bg-color: rgba(147, 212, 129, 0.411);
}

body, html{
    background-color: rgb(34, 35, 37);
    /* font-family: Consolas, monaco, monospace !important; */
}

p{
    margin-bottom: 0px;
}

.knbn-section{
    color: rgb(221, 221, 221);
    font-size: 14px;
    background-color: var(--section-bg-color);
}

.column-name{
    text-align: center;
    font-size: 11px;
}

.ticket{
    border-radius: none;
    cursor: move;
}

.knbn-lane{
    border: 1px solid rgb(52, 53, 58);
    border-bottom: none;
    background-color: var(--section-bg-color);
    flex: 1;
}

.ticket-id{
    text-decoration: underline !important;
    color: rgb(245, 219, 170) !important;
}

.ticket-id:hover{
    color: rgb(245, 219, 170) !important;
    text-decoration: none !important;
}

.toggle{
    height: 25px;
    width: 25px;
    background-color: rgb(52, 53, 58);
    cursor: pointer;
}

.toggle:hover{
    background-color: rgb(214, 135, 31);
}

.knbn-can-drop{
    background-color: var(--knbn-on-drop-bg-color) !important;
    border: 1px solid var(--knbn-on-drop-border-bg-color);
}

.no-drop{
    border: 1px dashed rgba(255, 177, 167, 0.541);
    background-color: rgb(51, 44, 44);
}

.lane-grow{
    flex-grow: 1; 
    display: flex;
}

.prio-1, .prio-2, .prio-3{
    width: 4px;
}

.prio-1{
    background-color: rgb(94, 187, 94);
}

.prio-2{
    background-color: rgb(250, 207, 87);
}

.prio-3{
    background-color: rgb(199, 61, 51);
}

.reduce, .hide{
    display: none !important;
}

.lane-direction{
    flex-direction: column;
}

.assignee-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--ticket-border-color);
    z-index: 1; 
}

.ticket-box{
    border: 1px solid transparent;
}

.ticket-box:hover{
    border: 1px solid rgba(178, 191, 255, 0.226);
}

.knbn-comp-progress{
    height: 2px !important;
    border-radius: none !important;
    background-color: rgb(100, 100, 100);
}

.knbn-comp-progress-bar{
    background-color: rgb(132, 196, 95);
}

.knbn-days-left{
    font-size: 11px;
}

.border-right-light{
    border-right: 1px solid rgb(82, 77, 38);
}

.knbn-comp-desc *{
    font-family: Consolas, monaco, monospace !important;
    font-size: 13px !important;
    font-weight: normal;
    font-style: normal;
}

.ql-editor, .knbn-editing-mode{
    /* font-family: Consolas, monaco, monospace !important; */
}

.knbn-no-border-right{
    border-right: none !important;
}

.knbn-no-border-left{
    border-left: none !important;
}

.knbn-no-border-top{
    border-top: none !important;
}

.knbn-no-border-bottom{
    border-bottom: none !important;
}

.knbn-no-border{
    border: none !important;
}

.knbn-border-transparent{
    border-color: transparent !important;
}

.knbn-tool{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.knbn-font-medium, .knbn-font-medium *{
    font-size: 14px !important;
}

.knbn-font-small, .knbn-font-small *{
    font-size: 12px !important;
}

.knbn-ticket-id{
    text-decoration: none !important;
    font-size: 13px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 50px !important;
}

.knbn-transition{
    transition: background-color .3s ease-out, color .3s ease-out,  box-shadow .3s ease-out, border-color .3s ease-out, margin .3s ease-out, border-radius .3s ease-out !important;
}

.knbn-border{
    border: 1px solid;
}

.knbn-btn{
    cursor: pointer;
}

.knbn-img-inverted{
    filter: invert(100%) !important;
}

.knbn-header-2{
    font-size: 18px !important;
}

.knbn-profile-pic{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: gray;
}

.knbn-bg-transparent{
    background-color: transparent !important;
}

.knbn-header-3{
    font-size: 20px !important;
}

.knbn-header-2{
    font-size: 18px !important;
}

.knbn-border-bottom{
    border-bottom: 1px solid !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    z-index: 100;
}

.knbn-bg-transparent{
    background-color: transparent !important;
}

.knbn-error{
    font-size: 12px !important; 
}

.knbn-remover{
    border-radius: 0px !important;
}

.knbn-remove-btn{
    cursor: pointer;
}

.knbn-drag-preview{
    width: 200px;
    height: 50px;
}

.knbn-font-high{
    font-size: 18px !important;
}

.knbn-collapse{
    cursor: pointer;
}

.knbn-border-top{
    border-top: 1px solid !important;
}

.knbn-flip-90-deg{
    transform: rotate(90deg) !important;
}

.knbn-input-group{
    border: none !important;
}