:root{
    --knbn-on-drop-bg-color: rgba(132, 161, 124, 0.137);
    --knbn-on-drop-border-bg-color: rgba(147, 212, 129, 0.411);
}

p{
    margin-bottom: 0px;
}

.knbn-section{
    color: rgb(221, 221, 221);
    font-size: 14px;
    background-color: var(--section-bg-color);
}

.column-name{
    text-align: center;
    font-size: 11px;
}

.ticket{
    border-radius: none;
    cursor: move;
}

.knbn-lane{
    border: 1px solid rgb(52, 53, 58);
    border-bottom: none;
    background-color: var(--section-bg-color);
    flex: 1;
}

.ticket-id{
    text-decoration: underline !important;
    color: rgb(245, 219, 170) !important;
}

.ticket-id:hover{
    color: rgb(245, 219, 170) !important;
    text-decoration: none !important;
}

.toggle{
    height: 25px;
    width: 25px;
    background-color: rgb(52, 53, 58);
    cursor: pointer;
}

.toggle:hover{
    background-color: rgb(214, 135, 31);
}

.knbn-can-drop{
    background-color: var(--knbn-on-drop-bg-color) !important;
    border: 1px solid var(--knbn-on-drop-border-bg-color);
}

.no-drop{
    border: 1px dashed rgba(255, 177, 167, 0.541);
    background-color: rgb(51, 44, 44);
}

.lane-grow{
    flex-grow: 1; 
    display: flex;
}

.prio-1, .prio-2, .prio-3, .no-prio{
    width: 4px;
}

.prio-1{
    background-color: rgb(94, 187, 94);
}

.prio-2{
    background-color: rgb(250, 207, 87);
}

.prio-3{
    background-color: rgb(199, 61, 51);
}

.reduce, .hide{
    display: none !important;
}

.lane-direction{
    flex-direction: column;
}

.assignee-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--ticket-border-color);
    z-index: 1; 
}

.ticket-box{
    border: 1px solid transparent;
}

.ticket-box:hover{
    border: 1px solid rgba(178, 191, 255, 0.226);
}

.knbn-comp-progress{
    height: 2px !important;
    border-radius: none !important;
}

.knbn-comp-progress-bar{
    background-color: rgb(132, 196, 95);
}

.knbn-days-left{
    font-size: 11px;
}

.border-right-light{
    border-right: 1px solid rgb(82, 77, 38);
}

.knbn-comp-desc *{
    font-family: Consolas, monaco, monospace !important;
    font-size: 13px !important;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0;
}


.knbn-no-border-right{
    border-right: none !important;
}

.knbn-no-border-left{
    border-left: none !important;
}

.knbn-no-border-top{
    border-top: none !important;
}

.knbn-no-border-bottom{
    border-bottom: none !important;
}

.knbn-no-border{
    border: none !important;
}

.knbn-border-transparent{
    border-color: transparent !important;
}

.knbn-tool{
    background: transparent !important;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.knbn-font-16{
    font-size: 16px !important;
}

.knbn-font-medium, .knbn-font-medium *{
    font-size: 14px !important;
}

.knbn-font-small, .knbn-font-small *{
    font-size: 12px !important;
}

.knbn-border-radius-50{
    border-radius: 50px !important;
}

.knbn-border-radius-full{
    border-radius: 100% !important;
}


.knbn-border-radius-5{
    border-radius: 5px !important;
}

.knbn-transition{
    transition: background-color .3s ease-out, color .3s ease-out,  box-shadow .3s ease-out, border-color .3s ease-out, margin .3s ease-out, border-radius .3s ease-out !important;
}

.knbn-border{
    border: 1px solid;
}

.knbn-btn{
    cursor: pointer;
}

.knbn-img-inverted{
    filter: invert(100%) !important;
}

.knbn-header-2{
    font-size: 17px !important;
}

.knbn-profile-pic{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: gray;
}

.knbn-profile-pic-medium{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: gray;
}

.knbn-bg-transparent{
    background-color: transparent !important;
}

.knbn-header-3{
    font-size: 20px !important;
}

.knbn-border-bottom{
    border-bottom: 1px solid !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    z-index: 100;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow{
    border: none !important;
}

.ql-container{
    max-height: 100% !important; 
    height: auto!important;
}

.knbn-bg-transparent{
    background-color: transparent !important;
}

.knbn-error{
    font-size: 12px !important; 
}

.knbn-remover{
    border-radius: 0px !important;
}

.knbn-remove-btn{
    cursor: pointer;
}

.knbn-drag-preview{
    width: 200px;
    height: 50px;
}

.knbn-font-high{
    font-size: 18px !important;
}

.knbn-collapse{
    cursor: pointer;
}

.knbn-border-top{
    border-top: 1px solid !important;
}

.knbn-flip-90-deg{
    transform: rotate(90deg) !important;
}

.knbn-input-group{
    border: none !important;
}

.knbn-loading{
    border-radius: 5px !important;
    height: 13px;
}

.knbn-0-width{
    min-width: 0 !important;
}

html, body, #app{
    min-height: 100vh !important;
    background-color: black;
}

.knbn-font-14{
    font-size: 14px !important;
}

.ql-editor{
    font-family: Consolas, monaco, monospace !important;
    font-size: 13px !important;
    overflow-y: initial !important;
    word-break: break-all !important;
}

.knbn-container{
    min-height: 100vh;
}

.knbn-no-radius{
    border-radius: 0 !important;
}

.knbn-edit-no-border *, .knbn-edit-no-border .ql-toolbar .ql-snow{
    border: none !important;
    border-color: transparent;
}

.knbn-profile-pic-big{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.knbn-no-box-shadow{
    box-shadow: none !important;
}

.knbn-no-border-radius{
    border-radius: 0 !important;
}

.knbn-remember{
    background-color: rgb(81, 141, 12);
}

.knbn-pointer{
    cursor: pointer !important;
}

.knbn-border-right{
    border-right: 1px solid !important;
}

.knbn-border-left{
    border-left: 1px solid !important;
}

.knbn-mandatory-margin{
    margin-top: 80px !important;
}
.knbn-opacity-1{
    opacity: 1 !important;
}

.knbn-high-z-index{
    z-index: 2000 !important;
}

.knbn-img-size{
    width: 20px !important;
    height: 20px !important;
}

.form-control{
    height: auto !important;
}

.knbn-max-h-200{
    max-height: 200px;
}

.knbn-overflow{
    overflow-y: auto;
}

.knbn-wip-limit{
    background-color: rgba(230, 15, 0, 0.342) !important;
}

.knbn-padding-2{
    padding: 2px !important;
}

.knbn-profile-pic-xl{
    width: 100px;
    height: 100px;
}

.knbn-muted{
    color: rgba(114, 114, 114, 0.747) !important;
}

.no-prio{
    background-color: rgb(112, 112, 112) !important;
}

.knbn-current-day{
    background-color: rgb(156, 68, 68) !important;
}

.knbn-current-day:hover, .knbn-current-day:focus, .knbn-current-day:active{
    background-color: rgb(124, 54, 54) !important;
}

.knbn-btn-dis:hover, .knbn-btn-dis:focus, .knbn-btn-dis:active{
    background-color: rgba(85, 85, 85, 0.986) !important;
}

.knbn-date-btn{
    padding: 0px;
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-bottom: 1px;
    text-align: center;
}

.knbn-date-btn-valid{
    background-color: rgb(74, 104, 61) !important;
}

.knbn-date-btn-valid:hover, .knbn-date-btn-valid:active, .knbn-date-btn-valid:focus{
    background-color: rgb(79, 145, 66) !important;
}

.knbn-date-btn-invalid:hover, .knbn-date-btn-valid:active, .knbn-date-btn-valid:focus{
    background-color: rgb(78, 78, 78) !important;
    color: white;
}

.knbn-calendar{
    width: 240px !important;
}

ol{
    margin-bottom: 0;
}
