 body{
    background-color: rgb(34, 35, 37);
}

.section{
    color: rgb(221, 221, 221);
    font-size: 14px;
    background-color: var(--section-bg-color);
}

.column-name{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid rgb(52, 53, 58);
}

.ticket{
    background-color: var(--ticket-bg);
    cursor: move;
    border-radius: none;
}

.lane{
    border: 1px solid rgb(52, 53, 58);
    background-color: var(--section-bg-color);
    flex: 1;
}

.ticket-id{
    text-decoration: underline;
    color: rgb(245, 219, 170);
}

.ticket-id:hover{
    color: rgb(245, 219, 170);
    text-decoration: none;
}

.tool{
    background-color: rgb(65, 67, 73);
    border-radius: 4px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.tool:hover{
    background-color: rgb(214, 135, 31);
}

.toggle{
    height: 25px;
    width: 25px;
    background-color: rgb(52, 53, 58);
    cursor: pointer;
}

.toggle:hover{
    background-color: rgb(214, 135, 31);
}

.can-drop{
    border: 1px solid rgba(188, 255, 167, 0.541);
    background-color: rgb(44, 51, 49);
}

.no-drop{
    border: 1px dashed rgba(255, 177, 167, 0.541);
    background-color: rgb(51, 44, 44);
}

.lane-grow{
    flex-grow: 1; 
    display: flex;
}

.prio-1, .prio-2, .prio-3{
    width: 4px;
}

.prio-1{
    background-color: rgb(94, 187, 94);
}

.prio-2{
    background-color: rgb(250, 207, 87);
}

.prio-3{
    background-color: rgb(199, 61, 51);
}

.reduce, .hide{
    display: none;
}

.lane-direction{
    flex-direction: column;
}

.assignee-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--ticket-border-color);
    z-index: 1; 
}

.ticket-box{
    border: 1px solid transparent;
}

.ticket-box:hover{
    border: 1px solid rgba(178, 191, 255, 0.226);
}