.knbn-header-3{
    /* color: white; */
}

.knbn-edit-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    /* color: white; */
}

.knbn-edit-field{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    /* color: white; */
}

.knbn-edit-help{
    color: rgb(87, 85, 84) !important;
}

.knbn-input, .knbn-input:hover, .knbn-input:focus, .knbn-input:active{
    border-radius: 0px !important;
    box-shadow: none !important;
    /* background-color: var(--ticket-bg); */
    border: 1px solid transparent;
    /* color: white; */
    font-size: 14px;
}

.knbn-input:focus{
    background-color: var(--light-ticket-bg);
}

.knbn-input-grp, .knbn-input-grp:active, .knbn-input-grp:focus, .knbn-input-grp:hover{
    border-radius: 0px !important;
    box-shadow: none !important;
    /* background-color: var(--ticket-bg); */
    border: 1px solid transparent;
    /* color: white; */
    font-size: 14px;
}

.knbn-fake-input-grp:hover{
    border: 1px solid rgb(86, 84, 241) !important;
}

.knbn-fake-input-grp:hover .knbn-edit-btn{
    display: inline !important;  
}

.knbn-fake-input, .knbn-fake-input:active, .knbn-fake-input:hover, .knbn-fake-input:focus{
    border-radius: 0px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border: 1px solid transparent;
    /* color: white; */
    font-size: 14px;
}

.knbn-fake-input-grp{
    /* border: 1px solid rgb(65, 65, 65) !important; */
    background-color: transparent !important;
}

.knbn-edit-btn{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}

.knbn-edit-btn:hover{
    /* background-color: rgb(61, 61, 61); */
    /* border: 1px solid rgb(82, 81, 81) !important; */
    /* background-color: transparent !important; */
}

.knbn-label-muted{
    color: rgb(85, 85, 85);
}

.knbn-fake-input p, .knbn-fake-input ul, .knbn-fake-input ol{
    margin-bottom: 0 !important;
}

.knbn-dropdown-menu{
    border-radius: 0px !important;
    /* background-color: var(--light-ticket-bg); */
    font-size: 14px;
    /* color: white; */
}

.knbn-profile-pic, .knbn-profile-pic-large{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* background-color: gray; */
}

.knbn-profile-pic-large{
    width: 30px;
    height: 30px;
}

.knbn-self-assign{
    /* color: rgb(168, 168, 168); */
    text-decoration: none;
}

.knbn-self-assign:hover{
    background-color: rgb(86, 84, 241) ;
    /* color: rgb(255, 255, 255); */
    text-decoration: none !important;
    border-radius: 4px;
}

.ql-container.ql-snow{
    border-bottom: none;
    border-left: none;
}