:root {
    --border-color: rgb(141, 80, 80);
    --muted: rgb(102, 102, 102);
    --light: rgb(156, 156, 156);
  }

.knbn-navbar{
    width : 100% !important;
    background-color : var(--section-bg-color) !important;
    color : white !important;
}

.knbn-dropdown{
    background-color : var(--section-bg-color);
    color : white;
}

.knbn-nav-item {
    border : transparent solid 1px !important;
    background-color : transparent !important;
    color : rgb(180, 180, 180) !important;
    font-size : 14px !important;
    padding-left : 15px !important;
    padding-right : 15px !important;
    cursor: pointer;
}

.knbn-nav-item:hover {
    border : var(--border-color) solid 1px !important ;
    /* background-color : rgba(121, 21, 21, 0.1) !important; */
    background-color : transparent !important;
}

.knbn-nav-item:hover .knbn-nav-link{
    color: white !important;
}

.knbn-navbar-toggler {
    border : none !important;
}

.search-btn {
    cursor : pointer;
}

.search-inpt, .search-inpt:focus {
    color: white;
    /* width : 170px; */
    font-size : 14px;
    background-color: transparent;
    border: 1px solid var(--form-ctrl-border);
    box-shadow: none;
}

.search-bar {
    background-color : rgb(67, 73, 85);
    border-radius : 4px;
}

.dropdown-toggle:after{
    margin-left: 10px;
}

.knbn-dropdown-menu{
    background-color: var(--section-bg-color) !important;
    border: 1px solid rgb(59, 59, 59) !important;
}

.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: gray;
}

.to-profile{
    font-size: 14px;
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.to-profile:hover{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.knbn-dropdown-item{
    color: var(--light) !important;
}

.knbn-dropdown-item:hover{
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    text-decoration: none;
}

.knbn-form-control{
    border-radius: 0px !important; 
    border: 1px solid rgb(97, 97, 97) !important;
}

.knbn-form-control:focus, .knbn-form-control:hover{
    border: 1px solid var(--border-color) !important;
}

.knbn-no-configuration{
    font-size: 14px !important;
    color: var(--muted) !important;
}