html, body{
    background-color: rgb(34, 35, 37);
}

.ticket-data{
    color: white;
    cursor: pointer;
    font-size: 14px;
    /* min-height: 100px; */
}

.info{
    color: wheat;
    font-size: 14px;
}

.header{
    color: rgb(245, 219, 170);
    font-size: 15px;
}

.column{
    border-radius: 4px;
    border: 1px solid rgb(62, 64, 68);
}

.name{
    font-size: 25px;
    color: white;
    border: 1px solid transparent;
    border: 1px solid rgb(62, 64, 68);
}

.name:hover{
    border: 1px solid rgb(55, 76, 116);
}

.edit{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.edit:hover{
    background-color: rgb(62, 63, 66);
}

.form-control, .form-control:focus, .form-control:active{
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
}

.form-big-font{
    font-size: 25px;
}

.form-small-font{
    font-size: 14px;
}

.modifiable{
    border: 1px solid transparent;
}

.modifiable:hover{
    border: 1px solid rgb(62, 64, 68);
}

.progress{
    border-radius: 0px;
    height: 5px;
    background-color: rgb(62, 64, 68);
}

.remaining{
    background-color: rgb(219, 98, 82);
}

.logged{
    background-color: rgb(110, 179, 113);
}

.estimated{
    background-color: rgb(78, 105, 128);
}

.tag, .name, .highlight{
    background-color: rgb(39, 40, 43);
}

.tag-border{
    border: 3px solid rgb(39, 40, 43);
}

.edit-field{
    opacity: .6;
}

.edit-field:hover{
    background-color: rgb(52, 53, 58);
    cursor: pointer;
    opacity: 1;
}

.dropdown-menu, .dropdown-item{
    border-radius: 0px;
    color: white;
    font-size: 14px;
    max-height: 250px;
    overflow: auto;
}

.dropdown-item:hover{
    background-color: rgb(52, 53, 58);
    color: white;
}

.permanent-border{
    border: 1px solid rgb(62, 64, 68);
}

.estimation{
    font-size: 14px;
}

.rez{
    height: 20px;
    width: 20px;
}

.ticket-link, .ticket-link:hover, .ticket-link:focus{
    border-radius: 0px !important;
    border: none !important;
    font-size: 14px !important;
    color: gray;
}
.ticket-link:hover{
    background-color: rgb(49, 49, 53) !important;
}

.ticket-link-active{
    background-color: rgb(52, 53, 58) !important;
    color: rgb(245, 219, 170) !important;
    border: none;
    border-radius: 0px;
}

.comment, .worklog{
    font-size: 13px;
    color: rgb(219, 219, 219);
}

.user-pic{
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 100%;
}

.comment-text, .worklog-text{
    border: 1px solid rgb(52, 53, 58);
    font-size: 14px;
    color: rgb(218, 218, 218);
    min-height: 50px;
}

.user-text{
    border: 1px solid rgb(52, 53, 58);
}

.comment-space, .worklog-space{
    border-left: 1px solid rgb(52, 53, 58);
    border-right: 1px solid rgb(52, 53, 58);
    border-bottom: 1px solid rgb(52, 53, 58);
    word-break: break-all;
}

.comment-text:hover, .comment-text:focus, .comment-text:active, .worklog-text:hover, .worklog-text:focus, .worklog-text:active{
    border: 1px solid transparent;
    background-color: rgb(52, 53, 58);
    border: 1px solid rgb(52, 53, 58);
    color: white;
}


.submit{
    border: 1px solid rgb(52, 53, 58);
    background-color: transparent;
    color: gray;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
}

.submit:hover, .submit:focus, .submit:active{
    border: 1px solid rgb(52, 53, 58);
    background-color: rgb(52, 53, 58);
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.comment-edit, .comment-edit:hover, .comment-edit:focus, .worklog-edit, .worklog-edit:hover, .worklog-edit:focus{
    /* border: 1px solid transparent; */
    /* background-color: rgb(52, 53, 58); */
    border-radius: 0px;
    border: 1px solid rgb(52, 53, 58);
    border-top: none;
    color: white;
    font-size: 13px;
}

.rp-edit{
    border-radius: 0px;
    /* border: 1px solid rgb(52, 53, 58); */
    border-top: none;
    color: white;
    font-size: 14px;
    max-height: 700px !important;
    min-height: 40px;
    overflow: auto;
}

.day:hover{
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.month:hover{
    border-left: 1px solid transparent;
}

.year:hover{
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.form-small{
    font-size: 14px;
}

.b-b-0{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}

.b-t-0{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.comment-container, .worklog-container{
    max-height: 300px;
    overflow: auto;
}

.error{
    font-size: 13px;
    color: rgb(252, 104, 78);
}

.error-input{
    border-top: 1px solid rgb(252, 104, 78);
}

.top-nav, .bottom-nav{
    border: 1px solid rgb(52, 53, 58);
}

.font-medium-size{
    font-size: 17px;
}

.release-box{
    border-radius: 0px;
    border: 1px solid rgb(68, 68, 68);
    font-size: 14px;
    background-color: transparent;
}

.release-box:hover, .release-box:focus{
    background-color: rgb(39, 40, 43);
}

.release-box:focus{
    border: 1px solid rgb(55, 76, 116);
    
}

.insert-release{
    font-size: 14px;
    border-radius: 0px;
    color: rgb(214, 214, 214);
    border: 1px solid rgb(61, 61, 61);
    border-left: none;
    cursor: pointer;
}

.insert-release:hover, .insert-release:focus{
    background-color: rgb(48, 49, 51);
    border: 1px solid rgb(68, 68, 68);
    border-left: none;
}

.release{
    border-radius: 15px;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(46, 48, 54);
    /* background: linear-gradient(0deg, rgba(46,48,54,1) 0%, rgb(58, 58, 58) 100%); */
    border: 1px solid rgb(65, 67, 71);
    font-size: 13px;
    text-align: center;
}

.remove{
    cursor: pointer;
    opacity: 0.5;
}

.remove:hover, .remove:focus{
    opacity: 1;
}

.ticket-nav-item, .ticket-nav-item:hover{
    border: none !important;
    margin-bottom: 1px !important;
}