:root {
    --main-bg-color:rgb(34, 35, 37);
    --form-ctrl-bg:rgb(48, 50, 53);
    --form-ctrl-border:rgb(72, 76, 82);
    --form-ctrl-on-focus-bg:rgb(56, 60, 65);
    --form-ctrl-on-focus-border:rgb(61, 83, 117);
    --error: rgb(250, 86, 86);
    --span-col: rgb(156, 156, 156);
    --small-text: 13px;
    --ticket-border-color: rgba(178, 191, 255, 0.226);
    --section-bg-color:rgb(42, 43, 46);
    --light-gray: rgb(65, 70, 78);
    --ticket-bg: rgb(56, 57, 61);
    --highlight: rgb(214, 135, 31);
  }

