body{
    background-color: rgb(40, 44, 48);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

#controlBar{
    height: 40px;
    background-color: rgb(67, 86, 121);
    padding: 10px;
    -webkit-app-region: drag;
}

#exit, #minimize{
    /* border-top: 3px solid rgb(179, 179, 179); */
    color: rgb(255, 255, 255);
    height: 100%;
    width: 25px;
    margin-left: auto;
    float: right;
    text-align: center;
    -webkit-app-region: no-drag;
    
}

#exit:hover{
    /* border-top: 3px solid rgb(255, 85, 85); */
    color: rgb(255, 85, 85);
    cursor: pointer;
}

#minimize{
    margin-right:5px;
}

#minimize:hover{
    /* border-top: 3px solid rgb(150, 253, 236); */
    color: rgb(150, 253, 236);
    cursor: pointer;
}

#register ul li a{
    border-radius: 0;
}

#loginForm{
    margin-top: 40px;
    text-align: center;
    color: white;
}

.nav-pills{
    margin-top: 40px;
    text-align: center;
}

.nav-pills li {
    width: 50%;
    background-color: rgb(48, 61, 73);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: rgb(92, 121, 77);
}

.nav-pills>li>a:hover{
    background-color: rgb(169, 199, 153);
}

.nav-pills li + li{
    margin: 0;
}

#signup-button, #login-button{
    width: 100%;
    background-color: rgb(58, 64, 70);
    height: 50px;
    border: none;
    color: rgb(187, 187, 187);
    transition: 1s background-color;
}

#signup-button:hover, #login-button:hover, #signup-button:focus, #login-button:focus{
    background-color: rgb(124, 146, 112);
    color: white;
}

.inputs{
    text-align: center;
    color: white;
    background-color: rgb(58, 64, 70); 
    transition: background-color 1s ease, color 1s ease;
    border: 1px solid transparent;
}

.inputs:hover{
    background-color: rgb(74, 80, 87); 
}

.inputs:focus{
    border: 1px solid rgb(123, 134, 146);
    box-shadow: none;
}

#remember, #forgot{
    color: rgb(139, 142, 145);
    font-weight: lighter;
}

#remember input{
    width: 15px;
    height: 15px;
    background-color: rgb(139, 142, 145);
}

#forgot{
    margin-top: 10px;
    font-size: 15px;
}

.validInput, .validInput:focus{
    border:1px solid rgb(124, 146, 112);
}

.invalidInput, .invalidInput:focus{
    border:1px solid rgb(228, 77, 77);
}

.form-text{
    color: white;
    background-color: rgb(228, 77, 77);
    padding-left: 1px;
    padding-right: 1px;
}

#error{
    margin-bottom: 20px;
    /* height: 20px; */
    font-size: 12px;
    color: white;
    text-align: center;
    visibility: hidden;
}

.error{
    background-color: rgb(228, 77, 77);
}

.okay{
    background-color: rgb(124, 146, 112);
}